.btn-bars {
  font-size: 25px;
  z-index: 0;
  color: #ffffff;
  width: fit-content;
  cursor: pointer;
}

.header-container {
  padding: 2%;
  /* width: 100vw; */
  background: #6b93cc;
  height: 12vh;
  display: flex;
  gap: 20px;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .header-container {
    z-index: 10;
    display: flex;
    position: fixed;
    gap: 20px;
    align-items: center;
    left: 0;
    right: 0;
  }

}