.btn-create {
  background: #6b93cc !important;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.button-plus {
  background-color: rgb(229, 229, 229);
  color: rgb(82, 91, 123);
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}

.button-minus {
  background-color: rgb(229, 229, 229);
  color: rgb(82, 91, 123);
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}

.button-plus:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(209, 209, 209);
}

.button-minus:hover {
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
}

.previous,
.next {
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  font-weight: 500;
  color: #6b93cc;
  background-color: rgb(236 241 249);
}

.previous:hover,
.next:hover {
  background: rgb(230 236 246);
}

.pagination {
  border: none;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  font-weight: 500;
  color: dimgrey;
  background-color: rgb(240, 240, 240);
}

.icon-search {
  position: absolute;
  top: 0px;
  right: 12px;
  background: #ecf1f9;
  padding: 10px;
  border-radius: 0px 5px 5px 0;
  color: #6b93cc;
}

.width {
  width: 80vw;
}

.width-full {
  width: 100vw;
}

@media only screen and (max-width: 450px) {
  .btn-create {
    background: #ffc107 !important;
    position: fixed;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .margin-top-movile {
    margin-top: 15vh;
  }

  .width {
    width: 100vw;
  }

  .create-text,
  .text-btn-pag {
    display: none
  }
}