.sidebar-content {
  width: 20vw;
  z-index: 1;
  margin: 0;
  position: relative;
  height: 88vh;
  background: rgb(192 216 251);

}

@media only screen and (max-width: 450px) {
  .sidebar-content {
    width: 100vw;
    position: fixed;
    right: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
  }

  .show-item {
    display: none;
  }
}